alias vo='vi'
alias vu='vi'
alias bi='vi'
alias bo='vi'
alias ci='vi'
alias vi='vim'

alias ll='ls -lahF'

alias treee='rg --files | tree --fromfile'

alias gs='git status'
alias ga='git add'
alias gd='git diff'
alias gb='git branch'
alias gr='git reset'
alias gc='git commit -v'
alias gca='git commit --amend'
alias gch='git checkout'
alias gbd='git branch --merged | grep -v "*" | xargs -I % git branch -d %'
