theme = "Flatland"
background-opacity = 0.9
background-blur-radius = 20
unfocused-split-opacity = 0.6

# https://github.com/be5invis/Sarasa-Gothic
font-family = "Sarasa Fixed J"
font-style = "Light"
font-size = 18
window-inherit-font-size = false

window-height = 54
window-width = 240
macos-titlebar-style = "tabs"
quit-after-last-window-closed = true

mouse-hide-while-typing = true
macos-icon = "retro"

# This makes (Neo)Vim key map `<C-_>`(slash) works
keybind = ctrl+/=text:\x1f
