# This affects cursor block color in Nvim
theme = Elegant
background-opacity = 0.85
background-blur-radius = 25
unfocused-split-opacity = 0.6

# https://github.com/zed-industries/zed-fonts
font-family = Zed Mono
font-feature = -calt, -liga, -dlig
font-size = 18
window-inherit-font-size = false

window-height = 54
window-width = 240
macos-titlebar-style = tabs
quit-after-last-window-closed = true

mouse-hide-while-typing = true
macos-icon = xray
copy-on-select = clipboard

# This makes (Neo)Vim key map `<C-_>`(slash) work
keybind = ctrl+/=text:\x1f
# This allows ClaudeCode prompts to use line breaks
keybind = shift+enter=text:\n
